body{
   url(images/SiaGVxD.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1  {
    font-size: 64px;
    Margin-top: 100px;
   text-align: center;
    font-family: 'Indie Flower', cursive;
    color: black;
    }
    
    
nav{
    font-size: 36px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    color: #bde577;
    }
    
h2{
    font-size: 24px;
    Margin-top: 20px;
   text-align: left;
    font-family: 'Indie Flower', cursive;
    color: #204563;
}

img{
    border-radius: 0.5cm;
    width: px;
  
    }
    
Body {
    width: 1000px;
    Margin-left: 150px;
   float: left;
}
p {
   font-size: 22px;
   
   color: #204563;
}